:root{
    --main-color-engagements:#cd1238;
    --main-color-text-eng:#ffffff;
    --second-color-text-eng:#2B2D42;

}

.engagements{
    min-height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 40px;

}

.engagements h1{
    font-size: 7em;
    color: var(--main-color-text-eng);
    text-transform: uppercase;
    text-align: center;
}
.engagements h3{
    font-weight: 300;
    color:white;
    font-size: 1.2em;
    margin-top: 20px;
}
.engagements-title{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80vh;
    background: var(--main-color-engagements);
    position: relative;
}
.engagements-title h3{
    width: 60%;
    text-align: center;
}
.engagements-title a{
    position: absolute;
    bottom: 5%;
}
.fleche-ambassade{

    font-size: 3em;
    color:var(--main-color-text-eng);
    animation: fleche-mazars 4s infinite linear;
    cursor: pointer;
}

/* Animation pour la fleche */
@keyframes fleche-mazars {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(15px);
    }
    100%{
        transform: translateY(0px);
    }
    
}

/* Deuxième partie */

.engagements-container{
    min-height: 100vh;
}
.engagements-image{
    background-color: var(--main-color-engagements)
}
.engagements-img{
    min-height: 80vh;
    background: url('../assets/bureau_veritas.png');
    background-position: center;
    background-size: cover;
    width: 100%;
    margin: auto;
    border-bottom-left-radius: 200px;
}
.engagements-link{
    display: flex;
    flex-direction: column;
background-color: var(--main-color-engagements);
}
.engagements-link h2{
    text-align: center;
    font-size: 2em;
    margin-top: 20px;
    color: var(--main-color-text-eng);
}
.engagements-link-content{
    min-height: 32vh;
    
    border-bottom-left-radius: 200px;
    display: flex;
    padding: 0em 2em;
    justify-content: space-evenly;
    align-items: center;
   
}
.link-content a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}
.link-content h3{
    font-weight: 500;
    font-size: 1.8em;
    color:var(--main-color-text-eng);
    text-align: center;

}
.fleche-down{
    font-size: 2.5em;
    font-weight: 500;
    color: white;
    margin: 1em;
}

/* Card présentation */

.engagements-card{
    background-color: var(--main-color-engagements);
    margin-top: 50px;
    border-top-right-radius: 200px;
    border-bottom-left-radius: 200px;
    position: relative;
    overflow: hidden;
    padding-bottom: 50px;
}

.engagements-card h2{
    font-size: 8em;
    text-transform: uppercase;
    width: 70%;
    color: var(--main-color-text-eng);
    padding: 1em;
}
.engagements-presentation-content{
    width: 60%;
    margin: auto;
}
.engagements-presentation-content p{
    font-size: 1.8em;
    font-weight: 400;
    padding: 20px;
    text-align: justify;
    color: var(--main-color-text-eng);

}
.engagements-presentation-content ul li{
    font-size: 1.8em;
    font-weight: 400;
    padding: 20px;
    text-align: justify;
    color: var(--main-color-text-eng);

    list-style: initial;
}

.engagements-presentation-content button{
    padding: 12px 24px;
    font-size: 2em;
    background-color: var(--main-color-text-eng);
    color: var(--main-color-engagements);
    border: 1px solid var(--main-color-engagements);
    border-radius: 10px;
    margin: 4em auto;
    display: flex;
    cursor: pointer;
    transition: 0.4s;
}
.engagements-presentation-content button:hover{
    transition: 0.4s;
    color:var(--main-color-text-eng);
    background: var(--main-color-engagements);
    border: 1px solid var(--main-color-text-eng);

}
.how{
    padding-bottom: 30px;
}
.engagements-presentation-content span{
    color: var(--second-color-text-eng);
}

.circle-1-engagements{
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: var(--main-color-text-eng);
    opacity: 0.7;
    top:50%;
    transform: translateX(-150px);

}
.circle-2-engagements{
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: var(--second-color-text-eng);
    opacity: 0.7;
    top:60%;
    transform: translateX(-100px);

}
.circle-3-engagements{
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: var(--second-color-text-eng);
    opacity: 0.7;
    right: 0;
    bottom: 0;
    transform: translate(100px,100px);
}

.circle-4-engagements{
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: var(--second-color-text-eng);
    opacity: 0.9;
    right: 0;
    top: 30%;
    transform: translateX(120px);


}

.engagements-icons{
    font-size: 2.4em;
}
/* Responsive */

@media screen and (max-width:1240px) {
    .engagements h1{
        font-size: 2.5em;
    }
    .fleche-ambassade{
        font-size: 2em;
    }
    .link-content h3{
        font-size: 1.3em;
      
    }
    .link-content a{
        flex-direction: row;
        justify-content:space-between;
        padding: 0em;
    }
    .engagements-link{
        flex-direction: column;
        border-bottom-left-radius: 100px
    }
    .fleche-down{
        font-size: 1.8em;
        margin: 0;
    }
    .engagements-link h3{
        width: 80%;
        margin-top: 0px;
    }
    .link-content{
        width: 90%;
    }

    .engagements-card h2{
        font-size: 2em;
        padding: 0em 20px;
        width: 90%;
        margin-top: 20px;
        word-break: break-all;
    }
    .engagements-card{
        border-top-right-radius:100px;
        border-bottom-left-radius:100px;
        padding-bottom: 100px;
    }
    .engagements-presentation-content{
        width: 85%;
    }
    .engagements-presentation-content p{
        text-align: center;
        font-size: 1.3em;
    }
    .engagements-presentation-content ul li{
        font-size: 1.3em;
    }
    .circle-1-engagements, .circle-2-engagements, .circle-3-engagements, .circle-4-engagements{
        display: none;
    }
    .how h2{
        font-size: 2em;
        width: 80%;
        margin: 20px 10px;
        word-break: break-all;
    }
    .engagements-title{
        height: 60vh;
    }
    .engagements-link-content{
        flex-direction: column;
    }
    .engagements-img{
        min-height: 40vh !important;
    }
}