.galerie{
    min-height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.galerie h1{
    font-size: 6em;
    padding-top: 1em;
    color: black;
    text-align: center;
}
.galerie h3{
    margin-top: 1em;
    font-size: 2em;
    font-weight: 300;
    text-align: center;
}
.galerie img{
    width: 500px;
}
.galerie-pics{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    justify-content: space-evenly;
}

.galerie-links{
    display: flex;
    justify-content: space-evenly;
    width: 80%;

}

.galerie-links a{
    padding: 12px 24px;
    border-radius: 12px;
    background-color: black;
    color: white;
    font-size: 1.5em;
    transition: 0.5s all ease-in-out;
    border: 1px solid black;

    

}
.galerie-links a:hover{
    background-color: white;
    color: black;
    transition: 0.5s all ease-in-out;

}

/* Responsive */

@media screen and (max-width:1240px) {
    .galerie h1 {
        font-size: 3em;
        margin-top: 1.5em;
        margin: 1em;
    }
    .galerie img{
        width: 400px;
    }
    .galerie-links{
        flex-direction: column;
        width: 200px;
        justify-content: space-around;
    }
    .galerie-links a{
        margin: 1em 0em;
        text-align: center;
    }
    .galerie{
        padding-bottom: 100px;
    }
 
}